*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logbar-left{
    display: flex;
    height: 80px;
    align-items: center;
    text-align: center;
    justify-content: left;
    background-color: coral;
}

.nav{
    display: flex;
    text-align: center;
    height: 100%;
    padding: 30px 10px;
    border-bottom: 2px solid black;
    border-radius: 1px;
}

.jumbotron{
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
    background-color: cadetblue;
}

.cap-title{
    font-size: 36px;
    font-weight: bold;
    width: 70%;
    height: 25%;
    position: absolute;
    top: 80px;
    left: 200px;
    z-index: 1;
    /* DEBUG */
    background-color: gray;
}

.info-block{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 20%;
    height: 50%;
    position: absolute;
    top: 250px;
    left: 200px;
    z-index: 1;
    /* DEBUG */
    background-color: bisque;
}

.text-start{
    width: 100%;
    font-size: 16px;
    /* DEBUG */
    background-color: chocolate;
    height: 180px;
}

.text{
    width: 80%;
    font-size: 16px;
    /* DEBUG */
    background-color: chocolate;
    height: 40px;
}

.blue-link{
    width: 80%;
    height: 40px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 5px;
}

#jumbo{
    width: 45%;
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 520px;
    background-image: url(./img/jumbo.png);
    background-size: contain;
    /* DEBUG */
    background-color: blue;
    height: 400px;
}

.main-title{
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    z-index: 1;
    /* DEBUG */
    background-color: gray;
    height: 40px;
}

.columns{
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* DEBUG */
    height: 560px;
    background-color: azure;
}

.column{
    width: 25%;
    /* DEBUG */
    background-color: cornsilk;
}
.title-box{
    width: 100%;
    /* DEBUG */
    background-color: brown;
}

