*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    line-height: 1,5;

}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-size: 36px;
    margin-bottom: 24px;
}

h2{
    font-size: 16px;
    margin-bottom: 20px;
}

h3{
    font-size: 12px;
}

span{
    display: block;
}

button{
    padding: 5px 15px;
    color: white;
    background-color: blue;
    display: inline-block;
    text-align: center;
}

.button:hover{
    background-color: #3a86ff;
    text-decoration: none;
}

header{
    height: 80px;
    display: flex;
    align-items: center;
}

#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

#nav-left{
    display: flex;
    align-items: center;
    gap: 8px;
}

#nav-right{
    display: flex;
    align-items: center;
    gap: 8px;
}

#nav-left ul{
    display: flex;
    align-items: center;
    gap: 8px;
}

#nav-right ul{
    display: flex;
    align-items: center;
    gap: 8px;
}

#jumbotron{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
    background-color: aqua;
}

#jumbotron-box{
    width: 70%;
}

#jumbo-left{
    width: 35%;
}

#jumbo-right{
    width: 65%;
    position: relative;
}

#jumbo-right img{
    width: 100%;
    position: absolute;

}
#jumbo-twinbox img{
    width: 100%;
}

#jumbo-twinbox{
    display: flex;
    justify-content: space-between;
}

#jumbotron i{
    margin-top: 6px;
    font-size: 50px;
}

#jumbotron p{
    margin-bottom: 6px;
}

#jumbotron .button{
    margin-bottom: 6px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 40px;
}

.main-container{
    width: 50%;
}

#billing-plan{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 30px;
}

.plan-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

